Chapter 22
# 鸢尾花数据帧groupby(['species']) 计算统计量
Book_1《编程不难》 | 鸢尾花书：从加减乘除到机器学习

In [1]:
import seaborn as sns
import pandas as pd

In [2]:
iris_df = sns.load_dataset("iris")
# 从Seaborn中导入鸢尾花数据帧

In [3]:
# 分组计算统计量
groupby_mean = iris_df.groupby(['species']).mean()
groupby_mean

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [4]:
groupby_std  = iris_df.groupby(['species']).std()
groupby_std

            sepal_length  sepal_width  petal_length  petal_width
species
setosa          0.352490     0.379064      0.173664     0.105386
versicolor      0.516171     0.313798      0.469911     0.197753
virginica       0.635880     0.322497      0.551895     0.274650

In [5]:
groupby_var  = iris_df.groupby(['species']).var()
groupby_var

            sepal_length  sepal_width  petal_length  petal_width
species
setosa          0.124249     0.143690      0.030159     0.011106
versicolor      0.266433     0.098469      0.220816     0.039106
virginica       0.404343     0.104004      0.304588     0.075433

In [6]:
groupby_cov  = iris_df.groupby(['species']).cov()
groupby_cov

                         sepal_length  sepal_width  petal_length  petal_width
species
setosa     sepal_length      0.124249     0.099216      0.016355     0.010331
           sepal_width       0.099216     0.143690      0.011698     0.009298
           petal_length      0.016355     0.011698      0.030159     0.006069
           petal_width       0.010331     0.009298      0.006069     0.011106
versicolor sepal_length      0.266433     0.085184      0.182898     0.055780
           sepal_width       0.085184     0.098469      0.082653     0.041204
           petal_length      0.182898     0.082653      0.220816     0.073102
           petal_width       0.055780     0.041204      0.073102     0.039106
virginica  sepal_length      0.404343     0.093763      0.303290     0.049094
           sepal_width       0.093763     0.104004      0.071380     0.047629
           petal_length      0.303290     0.071380      0.304588     0.048824
           petal_width       0.049094     0.047629      0.048824     0.075433

In [7]:
groupby_corr = iris_df.groupby(['species']).corr()
groupby_corr

                         sepal_length  sepal_width  petal_length  petal_width
species
setosa     sepal_length      1.000000     0.742547      0.267176     0.278098
           sepal_width       0.742547     1.000000      0.177700     0.232752
           petal_length      0.267176     0.177700      1.000000     0.331630
           petal_width       0.278098     0.232752      0.331630     1.000000
versicolor sepal_length      1.000000     0.525911      0.754049     0.546461
           sepal_width       0.525911     1.000000      0.560522     0.663999
           petal_length      0.754049     0.560522      1.000000     0.786668
           petal_width       0.546461     0.663999      0.786668     1.000000
virginica  sepal_length      1.000000     0.457228      0.864225     0.281108
           sepal_width       0.457228     1.000000      0.401045     0.537728
           petal_length      0.864225     0.401045      1.000000     0.322108
           petal_width       0.281108     0.537728      0.322108     1.000000